=stylesheet_link_tag 'edit_profiles'
div class="jumbotron jumbotron-fluid"
  div class="container"
    h1 class="display-3" 建築家一覧
= image_tag @architecture_list.image, class: 'ar-pic-500 margin-l-150 '



h2 class="margin-l-150 margin-t font-30" =@architecture_list.architect_title
p class="margin-l-150 margin-t font-20" =@architecture_list.architect_comment
