=stylesheet_link_tag 'edit_architectures'

h1 建築作品の追加・編集
nav.justify-content-end
  = link_to '一覧', edit_profiles_path, class: 'nav-link margin-l'

= render partial: 'form', locals: { edit_architecture: @edit_architecture}
