
// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  color:red;
  margin: 0 50px;

}

.ar-pic {
  height: 200px;
  width: auto;
  margin: 0 10px;
  color: red;
}
.ar-pic-500{
  height: auto;
  width: 800px;
}

.profile-pic{
  height: 50px;
  width: auto;
  margin-top: 30px;
}

.btn {
  margin-left: 1px;
}

.flame-architect {
  margin: 2em auto;
  padding: 1em;
  width: 90%;
  border-radius: 3px;
  background-color: #fff; /* 背景色 */
  border: 1px solid #ccc; /* 枠線 */
}

.text-r{
  text-align: right;
}

.text-b{
  vertical-align: bottom;
}
.margin-l {
  margin-left: 50px;
}
.margin-l-150 {
  margin-left: 150px;
}
.margin-r-30 {
  margin-right: 30px;
}

.margin-t {
  margin-top: 20px;
}
.font-50 {
  font-size: 50px;
}
.font-20 {
  font-size: 20px;
}
.font-30 {
  font-size: 30px;
}

h1 {
  margin-left: 50px;
}

.form-group {
  margin-left: 50px;
}
