// Place all the styles related to the EditArchitectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  color:red;
  margin: 0 50px;
}
.btn {
  margin-left: 1px;
}


.margin-l {
  margin-left: 50px;
}
.font-50 {
  font-size: 50px;
}
.font-20 {
  font-size: 20px;
}

h1 {
  margin-left: 50px;
}

.form-group {
  margin-left: 50px;
}
